@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Libre Baskerville", serif; */
  /* font-family: "EB Garamond", serif; */

  font-optical-sizing: auto;

  padding: 0px;
  margin: 0px;
 
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.animate-slideIn {
  animation: slideIn 0.5s forwards;
}
.scroll-container {
  display: flex;
  transition: transform 0.5s ease;
}

.scroll-container > * {
  flex-shrink: 0;
}
.next-logo {
  transition: transform 0, 6s ease-in;
}

.next-logo.clicked {
  transform: translateX(6px);
}
.carousel {
  width: calc(5 * 250px); /* Adjust width for 5 displayed books */
}

.carousel-inner {
  display: flex;
  transform: translateX(0); /* Initial position */
}
@keyframes textAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text-appear {
  animation: textAppear 1s ease-out forwards;
}

